:root {
  --color-bg-brand: #54a582cc;
  --color-bg-surface: #ffffff;
  --color-bg-success: #10b191;
  --color-bg-warning: #fb923c;
  --color-bg-alert: #ef4444;
  --color-bg-border: #cbd5e1;
  --color-bg-border-hover: #94a3b8;

  --color-typo-brand: #54a582cc;
  --color-typo-primary: #434449;
  --color-typo-secondary: #fefeea;
  --color-typo-ghost: #94a3b8;
  --color-typo-link: #2563eb;
  --color-typo-link-hover: #407cff;
  --color-typo-success: #10b191;
  --color-typo-warning: #fb923c;
  --color-typo-alert: #fca5a5;
}
