:root {
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  scrollbar-width: 5px;
}

html {
  font-size: 16px;
}

body * {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.icon {
  flex-shrink: 0;
}

.icon_base {
  width: 1rem;
  height: 1rem;
}

.icon_md {
  width: 1.25rem;
  height: 1.25rem;
}

.icon_lg {
  width: 1.5rem;
  height: 1.5rem;
}

.icon_xl {
  width: 1.75rem;
  height: 1.75rem;
}

.icon_rounded {
  border-radius: 100%;
}

.link {
  color: var(--blue-600);
}
